@import "tailwindcss";
@plugin "daisyui";

html {
    height: 100%;
    width: 100%;
    background-color: white;
}

body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

.bg-login {
    @apply bg-cover bg-center bg-no-repeat;
    background-image: url('/bg-login.jpg');
}

.list-item {
    @apply border-b border-gray-300 last:border-0 py-1 hover:bg-gray-200 duration-150 ease-in-out
}

.flex-center {
    @apply flex items-center justify-center;
}